{
    "useTabs": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 80,
    "singleQuote": false, 
    "jsxSingleQuote": false,
    "semi": true,
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false
}